<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="thundrware.com.bistromobile">

    <uses-sdk
        android:maxSdkVersion="26"
        android:minSdkVersion="21"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:node="replace">
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.ServerDetailsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.DataLoadingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.OrderManagementActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.TablePickingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.SettingsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.KeyActivationActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>